.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.75rem 1.25rem 2.5rem;
  
  opacity: 0;
  scale: 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  animation-name: var(--animation-modal);
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  
  & form {
    display: grid;
    gap: 1.75rem;
    padding: 2.5rem 1.25rem;
    background-color: var(--bg-tertiary);
    border-radius: .75rem;

    animation-name: var(--animation-form);
    animation-delay: .1s;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    
    scale: 0;

    & header {
      & h2 {
        font: var(--title);
        color: var(--content-primary);
      }
  
      & p {
        font: var(--paragraph-medium);
        color: var(--content-secondary);
      }
    }

    & fieldset {
      border: none;
      display: grid;
      gap: 1rem;

      & .when {
        display: grid;
      }

      & button {
        width: 7.5rem;
        margin-left: auto;
      }
    }
  }
}

@media (width >=45rem) {
  .modal {
    padding-block: 1.5rem;

    & form {
      max-width: 30rem;
      padding-inline: 2.5rem;

      & .when {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }
  }
}

@keyframes fadeInModal {
  from {
    scale: 1;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fadeOutModal {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 0;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    scale: 0;
    opacity: .8;
  }
  to {
    scale: 1;
  }
}

@keyframes fadeOut {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}